body{
    margin:0;
}
#nav ul{
    padding-left: 0px;
}
#nav li{
    display:block;
    background-color: coral;
    padding: 2px;
    margin: 5px;  
}
#nav li a{
    text-decoration: none;
    color:white;
}
#nav li:hover{
    background-color: antiquewhite;
}
#nav li a:hover{
     color:aquamarine;
}
/*
#banner, #nav, #content,#information, #footer{
    padding:10px;
}
*/
.container{
    padding:10px;
}
.item{
    padding-top: 200px;
    margin-top: -200px;
}
#body{
    width:800px;
    margin:0 auto;    
}

#banner {
    background-color: aliceblue;
    width:800px;
    height:200px;
    clear:both;
    position:fixed;
/*    margin-left: 200px;*/
    
}

#nav {
    background-color: antiquewhite;
    width:200px;
    height:400px;
    position:fixed;
    margin-top: 200px;
    margin-left: -200px;
   
}

#content {
    width:500px;
    float:left;
    margin-top: 200px;
    margin-left: 0px;
}
div.img {
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;  
    float: left;
    text-align: center;
}

div.img img {
    display: inline;
    margin: 5px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    object-fit: cover;
}

div.img a:hover img {
    border:1px solid darkgray;
}

div.img a {
    text-decoration: none;
}


#inforamtion {
    background-color: beige;
    width:100px;
    height:800px;
    float:left;
    margin-top: 200px;
    margin-left: 200px;
}

#footer {
    background-color: aquamarine;
    width:800px;
    height:100px;
    clear:both;
/*    margin-left: 200px;*/
}
